<div class="min-h-screen bg-base-200 p-4" data-theme="light">

  <app-navbar (libToggle)="toggleLib()"></app-navbar>


  <!-- mach einen weißen hintergrund als block-->
   
    
<div class="flex flex-col items-start justify-start h-[calc(100dvh-2rem)] bg-white rounded-lg shadow-lg m-4"> 
    <!-- ── Bauteil-Bibliothek ────────────────────────────────── -->
     <div class= "flex flex-row items-center justify-start w-full">
    
    @if (libOpen()) {
    <div class="p-4 py-2 m-2 w-40 border border-gray-300 rounded-lg bg-base-100">
      <p class="text-sm text-black">Library</p>
    <div class="grid grid-cols-1 justify-start items-start sm:grid-cols-1 lg:grid-cols-1 max-h-96 overflow-y-auto gap-4 mb-2">
      @for (component of components(); track component.symbol; let i = $index) {
        <app-device-card
        
          [component]="component"
          (add)="addComponent(i)">
        </app-device-card>
      }
    </div>
     </div>
    }
     <!-- ── Schaltplan ───────────────────────────────────────── -->
    <div class="flex-1 p-4 m-2 border border-gray-300 overflow-y-auto rounded-lg h-[85dvh] bg-base-100">
      
      @if (addedComponents().length === 0) {
        <p class="text-sm text-gray-400 italic">Kein Bauteil ausgewählt – klicke in der Library auf ein Bauteil.</p>
      }

      @for (added of addedComponents(); track $index) {
        @if (added.symbol === 'Q') {
          <button class ="btn btn-sm btn-danger m-1" (click)="removeComponent($index)">Entfernen</button>
          
       
          <app-mosfet-2d />
        } @else {
          <div class="badge {{ added.badge }} m-1">{{ added.symbol }}</div>
        }
      }
      
     
    </div>

    



    
  <router-outlet />
</div>
